<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />
  <param name="robot_description" textfile="$(find cpmr_apb)/urdf/blockrobot.urdf" />
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-unpause -param robot_description -urdf -model block_robot "/>
  <node name="rsp" type="robot_state_publisher" pkg="robot_state_publisher" />
</launch>
